**/*.svg
/dist
/build
.dockerignore
.DS_Store
.eslintignore
.env
*.png
*.toml
*.dll
*.exe
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
